# ASD Children traits - Initial Analysis

This Notebook contains some initial evaluation of the dataset.  The primary goal is to find answers for unknown questions: **What can we learn from this data?**

## Loading data
First we'll import required libraries and import the data to a Pandas DataFrame:

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('./assets/data_csv.csv', header=0, sep=',')

In [9]:
df.describe()

,CASE_NO_PATIENT'S,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Social_Responsiveness_Scale,Age_Years,Qchat_10_Score,Childhood Autism Rating Scale
count,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1976.000000,1985.000000,1946.000000,1985.000000
mean,993.000000,0.299244,0.238287,0.213098,0.272040,0.278589,0.306297,0.345088,0.243829,0.259950,0.446348,3.074393,9.624685,4.234841,1.701763
std,573.164462,0.458042,0.426143,0.409600,0.445123,0.448418,0.461071,0.475517,0.429499,0.438717,0.497238,3.680263,4.302416,2.898247,1.015367
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,497.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,2.000000,1.000000
50%,993.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,9.000000,4.000000,1.000000
75%,1489.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,5.000000,14.000000,6.000000,2.000000
max,1985.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,18.000000,10.000000,4.000000

And now let's take a look on the columns and see what data is available to us:

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 28 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   CASE_NO_PATIENT'S                                   1985 non-null   int64
 1   A1                                                  1985 non-null   int64
 2   A2                                                  1985 non-null   int64
 3   A3                                                  1985 non-null   int64
 4   A4                                                  1985 non-null   int64
 5   A5                                                  1985 non-null   int64
 6   A6                                                  1985 non-null   int64
 7   A7                                                  1985 non-null   int64
 8   A8                                                  1985 non-null   int64
 9   A9                                                  1985 non-null   int64
 10  A10_Autism_Spectrum_Quotient                        1985 non-null   int64
 11  Social_Responsiveness_Scale                         1976 non-null   float64
 12  Age_Years                                           1985 non-null   int64
 13  Qchat_10_Score                                      1946 non-null   float64
 14  Speech Delay/Language Disorder                      1985 non-null   object
 15  Learning disorder                                   1985 non-null   object
 16  Genetic_Disorders                                   1985 non-null   object
 17  Depression                                          1984 non-null   object
 18  Global developmental delay/intellectual disability  1985 non-null   object
 19  Social/Behavioural Issues                           1971 non-null   object
 20  Childhood Autism Rating Scale                       1985 non-null   int64
 21  Anxiety_disorder                                    1985 non-null   object
 22  Sex                                                 1985 non-null   object
 23  Ethnicity                                           1985 non-null   object
 24  Jaundice                                            1985 non-null   object
 25  Family_mem_with_ASD                                 1985 non-null   object
 26  Who_completed_the_test                              1985 non-null   object
 27  ASD_traits                                          1985 non-null   object
dtypes: float64(2), int64(13), object(13)
memory usage: 434.3+ KB

## The AQ-10 test
Most of the columns seem to be self-explanatory.  However, there are a few that are specific to the test used to generate the data so we need some research to know what they mean.

We'll take a detour now to try and figure out their meaning as the [dataset's Kaggle page](https://www.kaggle.com/datasets/uppulurimadhuri/dataset) has not enough information about it.